@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f6f4f4;
}


table.customTable {
  width: 20%;
  background-color: #F0F0F0;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #3C4F75;
  border-style: dotted;
  color: #000000;
}

table.customTable td, table.customTable th {
  border-width: 2px;
  border-color: #3C4F75;
  border-style: dotted;
  padding: 15px;
}

table.customTable thead {
  background-color: #161D2B;
}


.Dark {
  color: #000000; /* Cor para a palavra "Dark" */
}

.Earth {
  color: #804000; /* Cor para a palavra "Earth" */
}

.Fire {
  color: #FF0000; /* Cor para a palavra "Fire" */
}

.Water {
  color: #03adfc
}

.Ghost {
  color: #cacbcc
}

.Holy {
  color: #e6e209
}

.Poison {
  color: #31e820
}

.Undead {
  color: #a1789b
}

.Wind {
  color: #10c95a
}

/* Repita para outras palavras-chave */
