@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f6f4f4;
}


table.customTable {
  width: 20%;
  background-color: #F0F0F0;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #3C4F75;
  border-style: dotted;
  color: #000000;
}

table.customTable td, table.customTable th {
  border-width: 2px;
  border-color: #3C4F75;
  border-style: dotted;
  padding: 15px;
}

table.customTable thead {
  background-color: #161D2B;
}
